/* File: public/css/custom.css */

/* 1. Import Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* 2. Style Dasar */
body {
    background-color: #1a1a2e; /* Fallback color */
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* 3. Utilities */
input:focus { 
    outline: none; 
}